html {
  font-size: 14px;
}

@media (min-width: 768px) {
html {
	  font-size: 16px;
	}
}

@media (min-width: 992px) {
html {
	  font-size: 18px;
	}
}

@media (min-width: 1200px) {
html {
	  font-size: 20px;
	}
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-Regular.ttf) format("truetype");
}

.font-1 {
	font-family: 'Georgia', serif;
	font-style: italic;
	letter-spacing: .1rem;
}

.font-2 {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: .2rem;
}

.slide {
	min-height: 100vh;
/*	border: 1px solid white;
*/}

.background-image {
  
  background: linear-gradient(rgba(17, 57, 66, .52), rgba(17, 57, 66, .52)), url(../images/background.jpeg) no-repeat center center fixed;
  background-size: cover;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  width: 100vw;
  height: 100vh;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.content {
	box-sizing: border-box;
	min-height: 100%;
/*	padding: 0 0 80px;
*/	position: absolute;
	left: 0;
	right: 0;
	z-index: 9999;
	margin: 0;
}

.footer {
/*	bottom: 0;
	left: 0;
	position: absolute;*/
	width: 100%;
	background-color: #113942;
	color: white;
	padding: 2rem;
}
/*
.footer p {
	padding: 25px;
	text-align: center;
	width: 100%;
	margin: 0;
}

.footer a {
	color: white;
}
*/
.nav-logo {
	height: 4rem;
	margin-top: 4px;
}

@media (min-width: 768px) {
	.nav-logo {
		height: 3rem;
		margin-top: 8px;
	}
}

.navbar {
	background-color: rgba(13, 57, 65, 0.9);
	border-radius: 0;
	position: fixed;
	z-index: 1000;
	width: 100%;

}

a.navbar-brand {
	padding: 0;
}
.navbar-toggle {
	color: white;
	height: 4rem;
	width: 4rem;
}

.navbar-toggle .icon-bar {
	background-color: white;
	height: .3rem;
	width: 100%;
	margin-top: .3rem;
}

.navbar-default, .navbar-collapse {
	border: none;
}

.nav li a {
	color: white;
	font-size: .8rem;
	line-height: 2.5rem;
	letter-spacing: .1rem;
}

.nav li a:hover {
	background-color: rgba(160, 255, 216, .5);
}

.nav li a:focus {
	background-color: rgba(160, 255, 216, .5);
}

.splash-logo {
	height: 6rem;
}

#slideshow {
	background-color: white;
	padding: 1rem;
}

.carousel {
	height: 100%;
}

.carousel-slide {
	padding: 0;
	box-sizing: border-box;
}

.carousel-inner {
	height: 100%;
}

.carousel-inner .item img {
	height: 350px;
}

@media (min-width: 768px) {
	
	.carousel-inner .item img {
		height: 80vh;
	}

	.carousel-slide {
		min-height: 80vh;
	}

	#slideshow {
		padding: 5rem;
	}
}


.carousel-indicators li {
	border: 1px solid #00393B;
	background-color: rgba(160, 255, 216, .5);
}

.carousel-control {
	background-image: none !important;
	color: #333333;
}

.slide-text {
	padding: 3rem;
	text-align: left;
}


.slide-text h3 {
	border-bottom: 4px solid #A0FFD8;
	padding: .4rem;
	display: inline-block; 
}

.left-pad {
	padding-left: 6rem;
}

.right-pad {
	padding-right: 6rem;
}

#home {
  position: relative;
}

.splash-box {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
}

.title {
	font-size: 1.5rem;
	line-height: 3rem;
	letter-spacing: .3rem;
}

.info-cols {
	color: white;
	text-align: center;
	font-size: .9rem;
}

.white-text {
	color: white;
}

.blue-text {
	color: #113942;
}

.grey-text {
	color: #333333;
}

#about {
	background-color: white;
	padding: 5rem;
}

#about h3 {
	font-size: 1.8rem; 
}

.info-cols .col-xs-12 {
	margin-top: 5%;
}


#signup {
	text-align: center;
}

.about-icon {
	height: 10rem;
}

hr {
	margin: 0;
	border-top: 2px solid #eee;
}

.send-btn {
	-webkit-appearance: none;
	border: none;
	margin: 0;
	padding: 0;
	height: 3rem;
	line-height: 3rem;
	vertical-align: middle;
	display: inline-block;
	width: 3rem;
	font-size: 5rem;
	background-color: #A0FFD8;
}

.email-field {
	width: auto;
	border: none;
	margin: 0;
	outline: none;
	height: 3rem;
	line-height: 3rem;
	vertical-align: middle;
	display: inline-block;
	padding-left: 1rem;
	font-size: 1rem;
	background-color: rgba(0, 0, 0, 0)
}

.form-border {
	display: inline-block;
	padding: 0;
	border: 3px solid #eeeeee;
	margin: 2rem;
}

.caret-icon {

	display: block;
	/*text-indent: -9999px;*/
	background-image: url(../images/right_caret.svg) ;
	background-position: center;
	background-repeat: no-repeat;
	width: 2rem;
	height: 2rem;
	background-size: 1rem;
	width: 100%;
}

.blue-slide {
	background-color: #113942;
	width: 100%;
	padding: 6rem;
}

.blue-slide h1 {
	margin-bottom: 2rem;
}

.green-line {
	width: 200px;
	border-top: 5px solid #A0FFD8;
	margin: 0 auto;
}






