<footer class="footer font-2">
	<div id="signup">
		<div class="container">
			<h4 class="font-1 white-text">Sign up to be the first to know when Paidit launches in the Apple Store!</h4>
			<form action="http://formspree.io/paidit.justice@gmail.com" method="POST" class="white-text font-1">
				<div class="text-center form-border">	
					<input type="text" name="name" placeholder="Your email address" class="email-field">
					<input type="email" name="_replyto" hidden>
					<button type="submit" class="send-btn font-2"><span class="caret-icon"></span></button>
				</div>
			</form>
			<h5>Paidit! 2015-2016</h5>
		</div>
	</div>
</footer>