<div ng-controller="CarouselCtrl">
	<div class="slide" id="home">
			<div class="splash-box white-text">
				<img src="images/logo_RGB.png" class="splash-logo">
				<h1 class="font-1 title">the preferred rental relations app</h1>
				<a href="#" target="_blank"><img src="images/google_play.png" class="google-play" alt="Get it on Google Play"></a>
			</div>
	</div>
	<div class="font-2 info-cols" id="about">
		<div class="container">
			<div class="row ">
				<h3 class="font-1 grey-text">free, safe, and simple way to show proof of payment</h3>
				<div class="col-xs-12 col-md-4 font-2 grey-text">
					<img src="images/icons_money_paidit.png" alt="icon" class="about-icon">
					<p>Track and record large purchases and payments you make with cash or money order.</p>
				</div>
				<div class="col-xs-12 col-md-4 font-2 grey-text">
					<img src="images/icons_ledger_paidit.png" alt="icon" class="about-icon">
					<p>Create a digital receipt of the transaction and capture a picture of your payment.</p>
				</div>
				<div class="col-xs-12 col-md-4 font-2 grey-text">
					<img src="images/icons_upload_paidit.png" alt="icon" class="about-icon">
					<p>Keep a receipt for your records and notify your recipient through email.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="blue-slide text-center">
		<h1 class="font-1 white-text">Paidit works just like taking a picture and sending an email.</h1>
		<div class="green-line"></div>
	</div>
	<div id="slideshow">
<!-- 		<h3 class="font-1 grey-text text-center">Learn how Paidit! can make your life easier.</h3> -->
		<uib-carousel interval="interval" no-wrap="noWrapSlides">
			<uib-slide ng-repeat="slide in slides track by $index" active="slide.active" index="slide.id">
				<div class="container">	
					<div class="row blue-text">	
						<div class="col-xs-12 col-md-6 carousel-slide font-2">
							<div ng-if="$index%2 === 1">
								<div class="slide-img">
									<img ng-src="images/paidit_step{{$index + 1}}.png" style="margin:auto;">
								</div>
							</div>
							<div ng-if="$index%2 === 0">
								<div class="slide-text left-pad">	
									<h3>{{slide.title}}</h3>
									<p>{{slide.text}}</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-md-6 carousel-slide font-2">
							<div ng-if="$index%2 === 1">
								<div class="slide-text right-pad">	
									<h3>{{slide.title}}</h3>
									<p>{{slide.text}}</p>
								</div>
							</div>
							<div ng-if="$index%2 === 0">
								<div class="slide-img">
									<img ng-src="images/paidit_step{{$index + 1}}.png" style="margin:auto;">
								</div>
							</div>
						</div>
					</div>
				</div>
			</uib-slide>
		</uib-carousel>
	</div>
</div>
